*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  font-size: 1em;
}

body{
  background: #111;
  min-height: 100vh;
  overflow-x: hidden;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#header{
  font-size: 130px;
  width: 100%;
  padding: 3vh 3vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  animation: appear .5s forwards;
  -webkit-animation: appear .5s forwards;
}
#header__f-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header__name{
  color: #FFF;
  font-size: 1em;
  font-weight: 300;
  animation: appear-top .8s forwards;
  -webkit-animation: appear-top .8s forwards;
}
#header__profileImg{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
#header__paragraph{
  color: #FFF;
  margin-left: 24px;
  font-size: 20px;
}
#galery-projects{
  font-size: 16px;
  margin: 2vh 2vw;
  border-top: 2px solid #440f81ce;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  animation: appear-left ease-out .65s forwards;
  -webkit-animation: appear-left ease-out .65s forwards;
}
#galery-projects__title-container{
  display: flex;
  align-items: center;
}

#title-container__square-purple{
  height: 45px;
  width: 55px;
  background: #440f81ce;
  border-left: 10px solid #FFF;
}

#title-container__title{
  color: #440f81ce;
  text-transform: uppercase;
  padding: 10px;
  font-size: 6.25em;
  margin-left: 3vw;
  width: max-content;
  
  font-weight: 300;
  
}

#galery-projects__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
  place-items: center center;
}

.project{
  position: relative;
  width: 300px;
  height: 200px;
  padding: 16px;
  outline: 2px solid #440f81ce;
  background: #440f8123;
  transition: background .3s;
  transition: outline .3s;
  -webkit-transition: outline .3s;
  -moz-transition: outline .3s;
  -ms-transition: outline .3s;
  -o-transition: outline .3s;
}

.project:hover{
  outline: 2px solid #FFF;
  background: #0009;
}
.project:hover .project__image{
  opacity: .1;
}

.project__name{
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  display: none;
  color: #FFF;
  font-size: 24px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.project__code-link{
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 80%;
  text-decoration: none;
  background: #440f81;
  text-align: center;
  color: #FFF;
  border-radius: 6px;
  padding: 8px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  z-index: 1;
}
.project__code-link-mobile{
  display: none;
}
.project__code-link:hover{
  background: #5a13aa;
}
.project:hover .project__name, .project:hover .project__code-link{
  display: block;
  
}
.project__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen  and (max-width: 1000px){
  #header__name{
    font-size: .7em;
  }
  #header__paragraph{
    font-size: 16.5px;
  }
  #title-container__square-purple{
    height: 35px;
    width: 45px;
    border-left: 7px solid #FFF;
  }
  #title-container__title{
    font-size: 5em;
  }
  .project{
    width: 250px;
    height: 150px;
  }
}
.project__code-link-mobile{
  display: none;
}

@media screen  and (max-width: 850px){
  #header__name{
    font-size: .6em;
  }
  #header__paragraph{
    font-size: 14.5px;
  }
  #galery-projects__title-container{
    justify-content: center;
  }
  #title-container__title{
    font-size: 4.5em;
  }
  #galery-projects__grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen  and (max-height: 850px){
  #header{
    height: max-content;
  }
  #header__name{
    font-size: .5em;
  }
  #header__profileImg{
    height: 150px;
    width: 150px;
  }
  #title-container__square-purple{
    height: 25px;
    width: 35px;
    border-left: 5px solid #FFF;
  }
  #header__paragraph{
    font-size: 14px;
  }
  #title-container__title{
    font-size: 3em;
  }
}


@media screen  and (max-width: 685px){
  #header{
    height: max-content;
  }
  #header__name{
    font-size: .5em;
  }
  #header__profileImg{
    height: 150px;
    width: 150px;
  }
  #title-container__square-purple{
    height: 25px;
    width: 35px;
    border-left: 5px solid #FFF;
  }
  #header__paragraph{
    font-size: 14px;
  }
  #title-container__title{
    font-size: 3em;
  }
}
@media screen  and (max-height: 600px){
  #header{
    height: max-content;
  }
  #header__name{
    font-size: .7em;
  }
  #header__profileImg{
    height: 150px;
    width: 150px;
  }
  #title-container__square-purple{
    height: 25px;
    width: 35px;
    border-left: 5px solid #FFF;
  }
  #header__paragraph{
    font-size: 14px;
  }
  #title-container__title{
    font-size: 3em;
  }
}

@media screen  and (max-width: 600px){
  #header__name{
    font-size: .5em;
  }
  #header__paragraph{
    font-size: 14px;
  }
  #title-container__square-purple{
    display: none;
  }
  #title-container__title{
    text-align: center;
    font-size: 3em;
    margin: 0;
  }
}
#footer{
  background: #222;
  display: flex;
  justify-content: space-evenly;
  height: max-content;
  padding: 3vh 3vw;
}

.contacts__img{
  width: 50px;
  height: 50px;
}

.footer__contacts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}


@media screen  and (max-width: 580px){
  #header__name{
    font-size: .4em;
  }
  #header__paragraph{
    font-size: 13.5px;
    text-align: center;
    margin: 0;
  }
  #title-container__title{
    text-align: center;
    font-size: 2.5em;
  }
  #galery-projects__grid{
    grid-template-columns: 1fr;
  }
  .project{
    width: 320px;
    height: 220px;
    outline: 2px solid #FFF;
    background: #0009;
  }
  .project__image{
    opacity: .1;
  }
  .project .project__name{
    display: block;
    
  }
  .project__code-link{
    display: block;
  }
}

@media screen  and (max-width: 440px){
  #header__f-row{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #header__name{
    font-size: .35em;
    text-align: center;
  }
  #header__paragraph{
    font-size: 14px;
  }
  #title-container__title{
    text-align: center;
    font-size: 3em;
    margin: 0;
  }
}

@media screen  and (max-width: 350px){
  #header__name{
    font-size: .25em;
    text-align: center;
  }
  #header__paragraph{
    font-size: 13.5px;
  }
  #title-container__title{
    text-align: center;
    font-size: 2em;
  }
  .project{
    width: 260px;
    height: 160px;
  }
  
}

@media screen  and (max-width: 300px){
  #header__name{
    font-size: .25em;
    text-align: center;
  }
  #header__paragraph{
    font-size: 13.5px;
  }
  #title-container__title{
    text-align: center;
    font-size: 2em;
  }
  .project{
    width: 240px;
    height: 140px;
  }
}


@keyframes appear {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes appear-top {
  0%{
    transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    -moz-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    -o-transform: translateY(-25%);
}
  100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}

@keyframes appear-left {
  0%{
    opacity: 0;
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
}
  100%{
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

